.background{
    padding: 30px;
    overflow: hidden;
}

.container{
    height: 750px;
    width: 800px;
    padding: 30px;
    overflow: hidden;
    overflow: scroll;
}

.textfield{
    font-size: 10px;
    width: 100%;
    height: 20px;
}

.row{
    flex-direction: row;
}